<section class="bg-gray-900 py-20 px-10 rounded-lg">
 
    <h2 class="mb-8 md:mb-16 text-4xl lg:text-6xl font-semibold font-heading text-white">Let's start something completely new together</h2>
    <div class="flex flex-wrap items-center">
      <div class="inline-block max-w-xl mb-6 md:mb-0">
        <p class="text-xl text-gray-300">Drop us a line, and we'll get in touch.</p>
        <p class="text-xl text-gray-300">'ll see if we're a match and how we can help each other.</p>
      </div>
      <a class="inline-block ml-auto w-full md:w-auto px-12 py-4 text-center text-sm text-white font-medium leading-normal bg-red-400 hover:bg-red-300 rounded transition duration-200" href="#">Sign up</a>
    </div>
</section>