---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a> with <a href="https://strapi.io">Strapi</a>. Theme made with ❤️ by <a
          href="https://github.com/markteekman">Mark Teekman </a
        > the rest by Paul. Checkout Mark's theme <a
        href="https://github.com/markteekman/accessible-astro-starter"
        title="Go to the GitHub page"
      > here
      </a>.
      </p>
    </div>
  </section>
</footer>
