---
import type Global from "../interfaces/global";
import fetchApi from "../lib/strapi";

import TopNav from "../components/TopNav.astro";
import Footer from "../components/Footer.astro";

const global = await fetchApi<Global>({
  endpoint: "global?populate[topNav][populate][logoImage][fields][0]=url&populate[topNav][populate][link][populate]=true",
  wrappedByKey: "data",
});

interface Props { title: string }
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="bg-slate-100">
			<TopNav nav={global.attributes.topNav} />
    </header>
    <main class="container mx-auto py-8"><slot /></main>
		<Footer />
  </body>
</html>

