---
import DefaultLayout from './DefaultLayout.astro'
const { title } = Astro.props
---

<DefaultLayout title={title}>
  <div class="container">
    <div class="space-content my-12">
      <slot />
    </div>
  </div>
</DefaultLayout>


<style is:global>  
  @import "../assets/scss/globals.scss";
  @tailwind base;
  @tailwind components;
  @tailwind utilities;



  /******************************************* 
  Rich Text Styles
  *******************************************/
 
  /* Headers */
  article.rich-text h1 {
    @apply text-4xl font-bold mb-8 color-secondary;
  }

  article.rich-text h2 {
    @apply text-3xl font-bold mb-8 color-secondary;
  }

  article.rich-text h3 {
    @apply text-2xl font-bold mb-6 color-secondary;
  }

  article.rich-text h4 {
    @apply text-xl font-bold mb-4 color-secondary;
  }

  article.rich-text h5 {
    @apply text-lg font-bold mb-4 color-secondary;
  }

  article.rich-text h6 {
    @apply text-base font-bold mb-4 color-secondary;
  }

  /* Horizontal rules */
  article.rich-text hr {
    @apply color-secondary my-8;
  }

  article.rich-text a {
    @apply text-gray-900 underline text-xl leading-relaxed;
  }

  /* Typographic replacements */
  article.rich-text p {
    @apply mb-8 text-xl leading-relaxed color-secondary;
  }

  /* Emphasis */
  article.rich-text strong {
    @apply font-bold text-xl leading-relaxed;
  }

  article.rich-text em {
    @apply italic text-xl leading-relaxed;
  }

  article.rich-text del {
    @apply line-through text-xl leading-relaxed;
  }

  /* Blockquotes */
  article.rich-text blockquote {
    @apply border-l-4 border-gray-400 pl-4 py-2 mb-4;
  }

  /* Lists */
  article.rich-text ul {
    @apply list-disc pl-4 mb-4 color-secondary;
  }

  article.rich-text ol {
    @apply list-decimal pl-4 mb-4 color-secondary;
  }

  article.rich-text li {
    @apply mb-2 color-secondary;
  }

  article.rich-text li > ul {
    @apply list-disc pl-4 mb-2;
  }

  article.rich-text li > ol {
    @apply list-decimal pl-4 mb-2;
  }

  /* Code blocks */
  article.rich-text pre {
    @apply font-mono color-secondary color-secondary rounded p-4  my-6;
  }

  article.rich-text code {
    @apply font-mono color-secondary color-secondary rounded px-2 py-1;
  }

  /* Tables */
  article.rich-text table {
    @apply w-full border-collapse color-secondary my-6;
  }

  article.rich-text th {
    @apply color-secondary text-left py-2 px-4 font-semibold border-b color-secondary;
  }

  article.rich-text td {
    @apply py-2 px-4 border-b color-secondary;
  }

  /* Images */
  article.rich-text img {
    @apply w-full object-cover rounded-xl my-6;
  }

  /* Custom containers */
  article.rich-text .warning {
    @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
  }
</style>
