---
import type Page from "../../interfaces/page";
import fetchApi from "../../lib/strapi";

import DefaultLayout from "../../layouts/DefaultLayout.astro";

export async function getStaticPaths() {
  const pages = await fetchApi<Page[]>({
    endpoint: "pages?populate=*",
    wrappedByKey: "data",
  });

  function createStaticPaths(pages: Page[]) {
    const data = pages.map((page) => ({
      params: { slug: page.attributes.slug },
      props: page,
    }));

    return data;
  }

  return createStaticPaths(pages);
}

type Props = Page;
const page = Astro.props;
---

<DefaultLayout title={page.attributes.title}>
  <div class="container mx-auto px-4 m-auto">
    <h1>Dynamic Pages</h1>
    <h2>{page.attributes.title}</h2>
  </div>
</DefaultLayout>
