---
import type Article from "../../interfaces/articles";
import { getStrapiMedia } from "../../lib/api-helpers";
import fetchApi from "../../lib/strapi";
import marked from "marked";

import Layout from "../../layouts/Blog.astro";

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: "articles?populate=*",
    wrappedByKey: "data",
  });

  return articles.map((article: Article) => {
    return {
      params: { slug: article.attributes.slug },
      props: article,
    };
  });
}
type Props = Article;
const article = Astro.props;
---

<Layout title={article.attributes.title}>
  <div>
    <img class=" w-full h-[480px] object-cover" src={getStrapiMedia(article.attributes.image.data.attributes.url)} />
    <article class="rich-text max-w-3xl mx-auto">
      <h1>{article.attributes.title}</h1>
      <!-- Render Markdown html -->
      <div set:html={marked.parse(article.attributes.content)} />
    </article>
  </div>
</Layout>
