---
import type Article from "../../interfaces/articles";
import { getStrapiMedia } from "../../lib/api-helpers";
import fetchApi from "../../lib/strapi";
import marked from "marked";

import Layout from "../../layouts/Default.astro";

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: "articles?populate=*",
    wrappedByKey: "data",
  });

  return articles.map((article: Article) => {
    article.attributes.content = marked.parse(article.attributes.content);
    console.log(article.attributes.image.data.attributes.url)
    const image = getStrapiMedia(article.attributes.image.data.attributes.url);
    console.log(image)
    return {
      params: { slug: article.attributes.slug },
      props: article,
    };
  });
}
type Props = Article;
const article = Astro.props;
---

<Layout title={article.attributes.title}>
    <div>
      <img src={getStrapiMedia(article.attributes.image.data.attributes.url)} />
      <h1>{article.attributes.title}</h1>
      <!-- Render Markdown html -->
      <Fragment set:html={article.attributes.content} />
    </div>
</Layout>